<!DOCTYPE html>
<html>
  <head>
    <title>{{ title|default:"Microcosm" }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:700,900' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block navbar %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <!-- Mozilla Persona -->
    <script src="https://login.persona.org/include.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- Persona signin -->
    <form id="signin-form" class="hidden" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input id="Assertion" type="hidden" name="Assertion" value="" />
        <input id="target_url" type="hidden" name="target_url" value="{{request.get_full_path}}" />
    </form>

    <!-- Persona signout -->
    <form id="signout-form" class="hidden" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
    </form>

    <script type="text/javascript">
        function personaSignin() {
            navigator.id.request();
        }
        function personaSignout() {
            navigator.id.logout();
            document.getElementById("signout-form").submit();
        }
        navigator.id.watch({
            loggedInUser: {% if user.email %}'{{user.email}}'{% else %}null{% endif %},
        onlogin: function(assertion) {
            {% if user.email %}return false;{% endif %}
                document.getElementById("Assertion").value = assertion;
                document.getElementById("signin-form").submit();
            },
            onlogout: function() {
                {% if user.email %}return false;{% endif %}
                    document.getElementById("signout-form").submit();
                },
            });
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
