<nav class="navbar navbar-default" role="navigation" xmlns="http://www.w3.org/1999/html">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'dashboard' %}">Microcosm</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'site-compare' %}">Compare &amp; Pricing</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'site-about' %}">About</a></li>
      <li><a href="{% url 'site-developers' %}">Developers</a></li>
      <li><a id="navbar-forums" href="http://meta.microcosm.app">Support forums</a></li>
  	  <li>{% if user %}<a href="#" onclick="personaSignout();">Sign out</a>{% else %}<a href="#" onclick="personaSignin();">Sign In</a>{% endif %}</li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
