<form role="form" class="form-horizontal">
	<h3>
		Set default notifications settings
	</h3>
	<table class="table table-hover">
		<tr>
			<th></th>
			<th>By Email</th>
			<th>By SMS</th>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
		<tr>
			<td>
				<label for="input_notification">Notification Option</label>
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
			<td>
				<input id="input_notification" type="checkbox" />
			</td>
		</tr>
	</table>

	<div class="form-group">
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary">Save changes</button>
			<button class="btn btn-default">Cancel</button>
		</div>
	</div>
</form>