<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Microcosm.app</title>
	<link href="{{STATIC_URL}}themes/landing/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}themes/landing/css/microcosm.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,400italic,600italic" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-offset-4 wordmark">
			<a href="http://microcosm.app"><img src="{{STATIC_URL}}img/wordmark.svg" width="600" alt="microcosm wordmark" /></a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-offset-3">
			<h2>December update</h2>
			<p>It's almost time for the holiday break, so we'd like to update you with the exciting happenings at Microcosm.app over the last two months.</p>

			<h2>UX research and visual refresh</h2>
			<p>Firstly, a huge thank-you to all who took part in our user interviews and feedback sessions. Your help has been invaluable in refining what we're building.</p>

			<p>Toward the end of October we took what we'd learned over the past year and combined it with more UX research to produce a hugely improved web experience. This is almost completed and we're currently incorporating the new visual design into the existing project.</p>

			<p>We're excited to be able to reveal all of this work with a public launch early next year.</p>

			<h2>New features</h2>

			<p>While the new design work has been happening, we've also made great progress towards our targets for public launch. These include:
			<ul>
				<li>Search capability deployed to all sites on Microcosm.app</li>
				<li>A brand new way of seeing streaming updates on forums you take part in</li>
				<li>Rich content embedding (so if you post a link to e.g. YouTube, we can embed the video)</li>
				<li>Roll-out of private messaging (huddles) to all sites</li>
				<li>Tools for site owners to create and manage their sites.</li>
			</ul>
			</p>

			<p>As ever, do join us on our discussion site <a href="http://meta.microcosm.app/">meta.microcosm.app</a> if you'd like to find out more or have any suggestions. We're always around to answer questions.</p>

			<p>The next time we email will be our public launch (early next year), which will enable anyone to set up a site on Microcosm.app. In the meantime, if you're thinking of setting up a community, email us directly at <a href="mailto:founders@microcosm.cc">founders@microcosm.cc</a> and we'll get you set up right away.</p>

			<p>Cheers,</p>
			<p>David and Matt</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<p class="text-center">Looking to host a community on Microcosm.app? Sign up and we'll update you with our progress:</p>
	</div>
	<div class="row signup">
		<form action="http://microco.us7.list-manage.com/subscribe/post?u=3bcc0ebddeff9f42dac224121&amp;id=fa8e4d2e90" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" class="validate" target="_blank" novalidate>
			<div class="col col-lg-5 col-sm-16 col-offset-4">
				<input type="email" placeholder="your.name@domain.com" name="EMAIL" id="mce-EMAIL">
			</div>
			<button class="col col-lg-3 col-sm-16 btn btn-primary">Sign up</button>
		</form>
		<!-- hax -->
		<br>
		<br>
		<br>
		<br>
	</div>
</div>

<script type="text/javascript">
	var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-36931318-2']); _gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</body>
</html>
