{% extends 'marketing_base.html' %}

{% block content %}

<ul style="display:none">
{% if headers %}
    <li>Headers</li>
        {% for name, value in headers.items %}{% if value %}<li>{{ name }} => {{ value }}</li>{% endif %}
        {% endfor %}
{% else %}
    <li>No headers</li>
{% endif %}
</ul>

<div id="homeview-body">
    <div class="container">
        <div class="text-headline" style="text-align:center;">
            <h1>Non-commercial, non-profit, privacy sensitive, accessible forums.</h1>
        </div>
        <ul class="benefits row">
            <li>
                <div class="col-md-12 benefits-text">
                    <p>Microcosm is a modern forum platform with a privacy focus for non-profit communities.</p>
                    <p>It is run by a collective of enthusiasts and financed by donations.</p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/swipe.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/homeview.js?v=1"></script>
{% endblock %}
